@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    display: grid;
    grid-template-rows: 0fr 0fr 0fr 10fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #1992D4;
    grid-row: 1 / 5;
}

.nav {
    display: grid;
    grid-template-columns: 0fr 2fr 1fr;
    grid-row: 1;
    grid-column: 2 / 3;
    align-items: center;
    padding: 5px 30px;
}

.navbar {
    height: 30px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #9e9b9b;
}

.subnav-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 5px 30px;
}

.subnav-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-template-rows: 1fr;
}

button {
    background-color: #1992D4;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.subnav-heading {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.subnav-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main-container {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

h3, h1, .header-3 {
    color: white;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.header {
    font-size: 20px;
}

.header, .mid, .end {
    padding: 20px;
}

.p-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.project {
    background-color: white;
    margin: 10px;
    border-left: 5px solid orange;
    padding: 20px;

}

.projects-header {
    margin: 20px;
}

.box-content {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.header-3 {
  font-size: 18.72px;
  font-weight: bold;
}

div > div > p {
    color: #9b9a9a;
}

i {
    margin-right: 20px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.boxDiv {
    display: grid;
    grid-template-columns: 1fr 4fr;
}